body {
    background-color: #f6f5f3;
    font-family: Exo, sans-serif;
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
}

#header {
    text-align: center;
    background: url(../images/mountains_bg.jpg);
    background-size: cover;
    padding-top: 225px;
    padding-bottom: 229px;
}

h1 {
    font-size: 60px;
    font-weight: 100;
    line-height: 75px;
    margin: 0;
    margin-bottom: 43px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Exo, sans-serif;
}

#header a {
    display: inline-block;
    margin-bottom: 39px;
    color: #fff;
    text-decoration: none;
}

#header a:nth-child(4) {
    text-transform: uppercase;
    background-color: #ff6d6d;
    border-radius: 3px;
    padding: 20px 50px;
    margin-bottom: 19px;
}

#header a.play {
    width: 59px;
    padding: 19px 23px;
    background-color: #323969;
    border-radius: 50%;
}

#header .column>div {
    color: rgba(40, 40, 40, 0.6);
    font-size: 14px;
}

h5 {
    font-size: 16px;
    font-weight: 500;
    color: #ff6d6d;
    margin: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: #282828;
    margin: 0;
    margin-bottom: 45px;
    line-height: 50px;
}

h2>span {
    color: #ff6d6d;
}

p {
    color: rgba(40, 40, 40, 0.66);
    line-height: 26px;
    margin: 0;
    padding: 0;
}

#sec-2 {
    position: relative;
    background-color: #fff;
}

#sec-2>.row>.columns {
    margin: 0;
    padding-top: 191px;
    padding-bottom: 126px;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}

#style_block {
    width: 30%;
    height: 710px;
    position: absolute;
    right: 0px;
    overflow: hidden;
}

#gray_block {
    background-color: #eee;
    transform: skewy(-45deg);
    height: 1200px;
    margin-top: -693px;
    z-index: 1;
}

#red_block {
    background-color: rgba(255, 109, 109, 0.8);
    transform: skewy(-45deg);
    height: 1200px;
    z-index: 1;
}

#sec-3 {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 138px;
    padding-bottom: 184px;
    background-color: #f6f5f3;
}

#sec-3>.row>img {
    display: inline-block;
    position: absolute;
    z-index: 1;
}

#sec-3>.row>img:nth-child(1) {
    top: 0;
    left: 82px;
}

#sec-3>.row>img:nth-child(2) {
    top: 0;
    right: 140px;
}

#sec-3>.row>img:nth-child(3) {
    bottom: 0;
    right: 62px;
}

#sec-3 .column {
    position: relative;
    z-index: 3;
}

#sec-3 .columns h6 {
    font-weight: 500;
    font-size: 22px;
    color: #282828;
    margin-top: 30px;
}

#sec-3 .columns p {
    margin-top: 20px;
}

#sec-4 {
    padding-top: 93px;
    padding-bottom: 90px;
    overflow: hidden;
    position: relative
}

#red_block2 {
    position: absolute;
    top: -20px;
    left: -700px;
    height: 1553px;
    width: 1500px;
    transform: skewY(45deg);
    background-color: #ff6d6d;
    z-index: 2;
}

#sec-4 {
    background-color: #fff;
}

#sec-4>.row {
    position: relative;
    z-index: 3;
}

#sec-4 .medium-7 {
    margin-left: -100px;
}

#sec-4 img {
    width: 100%;
}

#sec-5 {
    background: url(../images/sec-5_abstract_bg.png) center no-repeat;
    background-size: cover;
    text-align: center;
}

#sec-5 .columns>div {
    width: 76px;
    height: 76px;
    background-color: #4e4e5e;
    margin: 0 auto;
    margin-top: 110px;
}

#sec-5 h6 {
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 26px;
}

#sec-5 h5 {
    font-size: 16px;
}

#sec-5 p {
    font-style: italic;
    color: rgba(255, 255, 255, 0.66);
}

#sec-5 div.column {
    text-align: justify;
    text-align-last: justify;
    margin-bottom: 90px;
}

#sec-6 {
    padding-top: 108px;
    padding-bottom: 468px;
    background: url(../images/mac_window.png) center bottom no-repeat;
}

#sec-6 .row {
    max-width: 700px;
    text-align: center;
}

#sec-7 {
    padding-top: 98px;
    padding-bottom: 85px;
    background-color: #323969;
}

#sec-7>.row {
    text-align: center;
    color: rgba(246, 245, 243, 0.6);
}

#sec-7 h2 {
    font-size: 40px;
    color: #ffffff;
}

#sec-7 .large-3 {
    position: relative;
    margin-top: 96px;
    margin-bottom: 52px;
}

#sec-7 input {
    width: 100%;
}

.input_area {
    background-color: rgba(246, 245, 243, 0.2);
    font-size: 16px;
    box-sizing: border-box;
    color: #fff;
    border-color: #ffffff;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 0;
    margin: 0 auto;
    padding-left: 30px;
    height: 47px;
}

.input_area:focus {
    background-color: rgba(246, 245, 243, 0.2);
    border: none;
}

#sec-7 [type=submit] {
    background-color: #ff6d6d;
    height: 47px;
    color: #f6f5f3;
    border: none;
}

#free_trial {
    position: absolute;
    top: -50px;
    color: #f6f5f3;
}

#free_trial img {
    float: left;
    margin-right: -20px;
}

#footer {
    padding: 0 20px;
    padding-top: 82px;
    padding-bottom: 70px;
    background-color: #fff;
}

#footer h4 {
    font-size: 24px;
    padding: 7px 0;
    box-sizing: border-box;
    font-weight: 500;
    text-align: left;
}

#footer h4>span {
    color: #ffffff;
}

#footer .large-3:first-child>div {
    background: url(../images/Polygon-1.png) no-repeat 53px;
}

#footer>.row>.columns {
    margin-bottom: 30px;
}

#footer .large-3:first-child p {
    font-size: 13.8px;
}

#footer p {
    font-size: 14px;
    color: rgba(40, 40, 40, 0.56);
}

#footer a {
    display: block;
    margin: 5px 0;
    color: rgba(40, 40, 40, 0.66);
    transition: 200ms;
    font-size: 14px;
}

#footer a:hover {
    color: #000;
}

#footer .large-3 {
    float: left;
}

#footer .large-3:last-child {
    text-align: center;
}

#footer .large-3:last-child a {
    display: inline;
    font-size: 1.3em;
    margin: 0 15px;
    color: #c9c9c9;
}

#footer .large-3:last-child a:hover {
    color: #000;
}

#footer .large-3:last-child .columns {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
}

#footer .large-3:last-child input {
    margin: 0;
    padding-left: 30px;
    color: #000;
    box-sizing: border-box;
    background-color: #eee;
    height: 50px;
    border-radius: 3px;
}

#footer .large-3:last-child button {
    width: 50px;
    height: 50px;
    background-color: #ff6d6d;
    color: #fff;
    border-radius: 3px;
    margin-left: -3px;
}

a.slide1,
a.slide2 {
    display: block;
    padding: 10px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.36);
}

a.slide1:hover,
a.slide2:hover {
    background-color: rgba(0, 0, 0, 0.15);
}